/**
* @name RoninDiscord
* @version 1.0.0
* @description Created by julius alfredo based on the theme of ronin or masterless samurai in Japan
* @author IArnFredo
* @github https://github.com/IArnFredo
*/

@import url(https://iarnfredo.github.io/BDproject/Themes/RoninDiscord/Call/RoninDiscordAPI.css);


/* ==================== Server Changes ====================== */
#app-mount .app-3xd6d0 .base-2jDfDU {
    top: var(--server-container) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

#app-mount .sidebar-1tnWFu {
    border-radius: 0;
}

#app-mount [class*=unreadMentionsIndicator] {
    width: var(--server-size);
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

#app-mount .guilds-2JjMmN {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: var(--server-container);
    top: var(--server-container);
    bottom: unset;
    position: absolute !important;
    left: 0;
}

#app-mount .guilds-2JjMmN>[data-list-id=guildsnav] {
    margin-bottom: 0 !important;
}

#app-mount .guilds-2JjMmN .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    padding: var(--server-spacing) 0 !important;
    display: flex;
    flex-direction: var(--server-direction);
    gap: var(--server-spacing);
    align-items: var(--server-alignment);
    justify-content: var(--server-alignment);
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt>div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt>div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
    padding-top: 1px;
}

#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt>div[aria-label] {
    display: flex;
    flex-direction: var(--server-direction);
    gap: var(--server-spacing);
}

#app-mount .guilds-2JjMmN .svg-2zuE5p,
#app-mount .guilds-2JjMmN .wrapper-28eC3z,
#app-mount .guilds-2JjMmN .guildsError-b7zR5H,
#app-mount .guilds-2JjMmN .placeholderMask-2FHNZU {
    width: var(--server-size);
    height: var(--server-size);
}

#app-mount .guilds-2JjMmN [role=group] {
    height: auto !important;
}

#app-mount .guilds-2JjMmN [class*=pill] {
    transform: rotate(90deg) translateY(-50%);
    height: var(--server-size);
    width: 4px;
    top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
    margin-left: -2px;
}

#app-mount .guilds-2JjMmN [class*=pill] span {
    height: 100% !important;
    width: 4px !important;
    transform: scale(0, 1) !important;
    transition: 0.15s ease !important;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 0"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 1"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 2"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 3"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 4"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 5"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 6"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 7"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 8"] {
    transform: scale(1, 0.24) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 9"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 10"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 11"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 12"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 13"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 14"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 15"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 16"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 17"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 18"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 19"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 20"] {
    transform: scale(1, 0.7) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 21"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 22"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 23"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 24"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 25"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 26"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 27"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 28"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 29"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 30"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 31"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 32"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 33"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 34"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 35"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 36"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 37"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 38"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 39"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN [class*=pill] span[style*="height: 40"] {
    transform: scale(1, 1) !important;
}

#app-mount .guilds-2JjMmN .wrapper-z5ab_q {
    height: var(--server-size) !important;
}

#app-mount .guilds-2JjMmN .wrapper-38slSD {
    width: var(--server-container);
    display: flex;
    flex-direction: var(--server-direction);
    gap: var(--server-spacing);
}

#app-mount .guilds-2JjMmN .wrapper-38slSD ul[role=group] {
    display: flex;
    flex-direction: var(--server-direction);
    gap: var(--server-spacing);
}

#app-mount .guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: 0 10px;
    position: unset;
}

#app-mount .guilds-2JjMmN [class*=guildSeparator] {
    transform: rotate(90deg);
    width: var(--server-size);
}

#app-mount .guilds-2JjMmN [class*=expandedFolderBackground] {
    width: var(--server-size);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    height: 100%;
}

#app-mount .guilds-2JjMmN .folder-21wGz3 {
    background: transparent;
}

#app-mount .guilds-2JjMmN .wrapper-3XVBev {
    top: 0;
    bottom: 0;
}

#app-mount .guilds-2JjMmN .target-1eRTCg::before {
    top: 0;
    height: var(--server-size);
    width: 4px;
    left: -6px;
}

#app-mount .guilds-2JjMmN.hidden-10MsGQ+.base-2jDfDU {
    top: 0 !important;
}

#app-mount [class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
}

#app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
    transform: rotate(180deg);
    top: -5px !important;
    right: unset;
    left: 13px;
    z-index: 1;
}

#app-mount .friendsOnline-2JkivW {
    position: absolute;
    transform: translate(-50%, 50%);
    top: calc(-50% + var(--server-spacing));
    left: -50%;
    width: calc(var(--server-size) + var(--server-spacing));
    display: flex;
    justify-content: center;
}

#app-mount .guilds-2JjMmN.content-Pph8t6,
#app-mount .BF-folderSidebar {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
}

#app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-)+.base-2jDfDU,
#app-mount .BF-folderSidebar:not(.closed-j55_T-)+.base-2jDfDU {
    top: calc(var(--server-container) * 2.5) !important;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] {
    height: var(--server-size) !important;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .wrapper-3kah-n {
    height: 100% !important;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
}

#app-mount .BF-folderSidebar {
    top: calc(var(--server-container)) !important;
}

#app-mount .serverCountWrap-k8F5De {
    height: var(--server-size);
}

#app-mount .serverCount-FsTTs1 {
    white-space: pre-line;
    font-size: 12px;
    display: flex;
    align-items: center;
}

html.platform-osx #app-mount .typeMacOS-3EmCyP {
    width: 100%;
}

html.platform-osx #app-mount .base-2jDfDU {
    top: calc(var(--server-container) + 30px) !important;
}

html.platform-osx #app-mount #pluginNotice {
    top: 32px;
    z-index: 100000 !important;
}

body.foldercontentopened .base-2jDfDU {
    transition: 0.2s ease !important;
}



/* ============================ Tranparency dude===============================*/

body,
/* body														*/
#app-mount .app-3xd6d0,
/* app					container							*/
#app-mount .app-2CXKsg,
/* app					inner								*/
#app-mount .loading-1yrGTe,
/* app					i18n loading						*/
#app-mount .wrapper-3AZUiP,
/* app					errorscreen							*/
#app-mount .bg-1QIAus,
/* app					background							*/
#app-mount .layer-86YKbF,
/* layer				container							*/
#app-mount .container-2o3qEW,
/* layer				container							*/
#app-mount .container-1NXEtd,
/* channels				inner								*/
#app-mount .privateChannels-oVe7HL,
/* dmchannels												*/
#app-mount .panels-3wFtMD>*,
/* account/voice		inner								*/
#app-mount .chat-2ZfjoI,
/* chat					container							*/
#app-mount .container-3wLKDe,
/* chat					support								*/
#app-mount .container-3XgAHv,
/* chat					thread sidebar						*/
#app-mount .wrapper-3HVHpV,
/* chat					messages loading					*/
#app-mount .noChannel-Z1DQK7,
/* nochannel												*/
#app-mount .members-3WRCEx,
/* members													*/
#app-mount .members-3WRCEx>div,
/* members				content								*/
#app-mount .content-3_h0XI,
/* unavailable												*/
#app-mount .container-2cd8Mz,
/* peoples													*/
#app-mount .container-1oAagU,
/* peoples				activity list						*/
#app-mount .applicationStore-2nk7Lo,
/* nitro													*/
#app-mount .pageWrapper-2PwDoS,
/* guilddiscovery											*/
#app-mount .pageWrapper-1x6lGh,
/* unihub													*/
#app-mount .scrollerBase-_bVAAt,
/* scroller													*/
#app-mount .scroller-2FKFPG,
/* scroller old												*/
#app-mount .standardSidebarView-E9Pc3j,
/* settings													*/
#app-mount .contentRegion-3HkfJJ {
    /* settings				content								*/
    background: transparent;
}

#app-mount .scroller-hE2gWq {
    /* peoples				activity scroller					*/
    border: none;
}

#app-mount .sidebarRegion-1VBisG,
/* settings				sidebar								*/
#app-mount .sidebar-_0OpfR {
    /* sidebarlist			sidebar								*/
    background-color: rgba(var(--transparencycolor), calc(0.2 * (var(--transparencyalpha) / (var(--transparencyalpha) + 0.00000000000000000000001))));
}

#app-mount {
    /* app-mount												*/
    background-color: rgba(var(--transparencycolor), var(--transparencyalpha));
}

#app-mount .wrapper-1_HaEi {
    /* guilds				container							*/
    background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) * 2));
}

#app-mount .sidebar-1tnWFu {
    /* channels				container							*/
    background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}

#app-mount .panels-3wFtMD {
    /* account/voice		container							*/
    background-color: rgba(var(--transparencycolor), calc(var(--guildchanneltransparency) / 1.5));
}

#app-mount .container-ZMc96U.themed-Hp1KC_ {
    /* channelheader		container							*/
    background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}

#app-mount .chatHeaderBar-qygUNT {
    /* channelheader		sub header							*/
    background-color: rgba(var(--transparencycolor), var(--guildchanneltransparency));
}

#app-mount .membersWrap-3NUR2t {
    /* members				container							*/
    background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}

#app-mount .tabBar-fg4VK9 {
    /* members				tabbar								*/
    background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}

#app-mount .nowPlayingColumn-1eCBCN {
    /* peoples				now playing							*/
    background-color: rgba(var(--transparencycolor), var(--memberlisttransparency));
}

#app-mount .image-35kDIs {
    /* app					errorscreen image					*/
    background-image: url(https://discord.com/assets/e9baf4b505eb54129f832556ea16538e.svg);
    opacity: 0.6;
}







/* =======================================Background==================================== */






div#app-mount.appMount-2yBXZl::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    filter: grayscale();
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
}

.uploadArea-2Nu_Vc,
.backdrop-1BR_bn,
.backdrop-2ByYRN {
    opacity: 0.6 !important;
    animation: none !important;
}







/* ===============================GUILDLIST================================= */





.childWrapper-1j_1ub,
/* homebutton/acronym	innerwrap							*/
#bd-pub-button {
    /* publicbutton			innerwrap							*/
    background-color: rgba(var(--transparencycolor), .9);
    color: var(--text-normal);
    font-weight: 500;
}

.wrapper-3kah-n:hover .childWrapper-1j_1ub,
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
#bd-pub-button:hover {
    text-shadow: 1px 1px var(--textshadow);
}

.wrapper-3kah-n rect[fill] {
    fill: rgba(var(--transparencycolor), .3);
}

.noIcon-3gSX9V {
    /* acronym				minicontainer						*/
    background-color: rgba(var(--transparencycolor), .3);
}

.circleIconButton-1QV--U {
    /* guildadd/discovery	innerwrap							*/
    background-color: rgba(var(--transparencycolor), .3);
}

.dragInner-Oq_toX {
    /* dragplaceholder											*/
    background-color: rgba(var(--transparencycolor), .3);
}

.wrapper-38slSD {
    /* folder				outerwrap							*/
    margin-bottom: 8px;
}

.folder-1hbNCn {
    /* folder				iconwrap							*/
    background-color: rgba(var(--transparencycolor), .2);
}

.folder-1hbNCn.hover-qTxTR_ {
    background-color: rgba(var(--transparencycolor), .4);
}

.expandedFolderBackground-1kSAf6 {
    /* folder				background							*/
    background-color: rgba(var(--transparencycolor), .2);
    border-radius: 15px 15px 24px 24px;
    top: 0;
    bottom: 0;
    margin-bottom: 8px;
    transition: border-radius 3s ease, background-color 1s ease;
}

.expandedFolderBackground-1kSAf6.hover-qTxTR_ {
    background-color: rgba(var(--transparencycolor), .4);
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"] {
    /* folder				guildwrap							*/
    margin-bottom: -8px;
}

.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-GuPuDH:last-child {
    margin-bottom: 0;
}



/* ==================================CHANNELLIST===============================*/

#app-mount .sidebar-1tnWFu {
    /* channels				container							*/
    border-radius: 0;
}



/* ==================================GUILDHEADER==============================*/




.bannerImage-1jOskm {
    /* banner				image								*/
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.9) 70%, rgba(0, 0, 0, 0) 100%);
}

.bannerImage-1jOskm::before {
    display: none;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    /* header				searchbarinner						*/
    background-color: rgba(var(--transparencycolor), .2);
}

.clickable-vvKY2q:not(.hasBanner-2IrYih) .header-3OsQeK:hover,
.selected-1GtAC5:not(.hasBanner-2IrYih) .header-3OsQeK {
    background-color: rgba(var(--transparencycolor), .2);
}

.container-3O_wAf,
.channelNotice-tO6Tus.invite-OjTXrW,
.channelNotice-tO6Tus.guildMFAWarning-3GEzs8,
.channelNotice-tO6Tus.maxMembersCount-3E4zND,
.channelNotice-3DDmsB,
#app-mount .channelNotice-3hkOiI {
    background: transparent;
}

.channelNotice-tO6Tus.invite-OjTXrW::before {
    opacity: 0.6;
    background: url(https://discord.com/assets/bf625d222187f542b9d7179109422e2c.svg) center 20px no-repeat;
}

.channelNotice-tO6Tus.guildMFAWarning-3GEzs8::before {
    opacity: 0.6;
    background: url(https://discord.com/assets/916a384814e3bbd2a84e2a1b352a17c3.svg) center 20px no-repeat;
}

.channelNotice-tO6Tus.quickswitcher-35bYg4::before {
    opacity: 0.6;
}

.channelNotice-tO6Tus.maxMembersCount-3E4zND::before {
    opacity: 0.6;
    background: url(https://discord.com/assets/01f60394adffda20dc7270a1e3c727df.svg) center 16px no-repeat;
}

.channelNotice-3DDmsB::before {
    opacity: 0.6;
    background: url(https://discord.com/assets/1858873f28bdc62dfb3a1f4b67d459bf.svg) center top 20px/153px no-repeat;
}

#app-mount .channelNotice-3hkOiI::before {
    opacity: 0.6;
    background: url(https://discord.com/assets/7065587bd42fd829925bf6aa4b36f5e2.svg) center top 22px/220px no-repeat;
}


/* =============================CHANNELS===========================*/

.wrapper-NhbLHG:hover .content-1gYQeQ {
    /* channel				content								*/
    background-color: rgba(var(--transparencycolor), .2);
}

.wrapper-NhbLHG:hover .content-1gYQeQ [style*="color: var(--text-muted)"] {
    color: var(--header-secondary) !important;
}

.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: rgb(var(--accentcolor));
    text-shadow: 1px 1px var(--textshadow);
}

.modeSelected-3DmyhH .content-1gYQeQ [style*="color: var(--text-muted)"],
.modeSelected-3DmyhH:hover .content-1gYQeQ [style*="color: var(--text-muted)"] {
    color: var(--header-secondary) !important;
}

.modeSelected-3DmyhH .content-1gYQeQ svg,
.modeSelected-3DmyhH:hover .content-1gYQeQ svg {
    filter: drop-shadow(1px 1px var(--textshadow));
}

.icon-2W8DHg {
    /* channel				icon								*/
    color: var(--channels-default);
}

.modeMuted-2T4MDZ .icon-2W8DHg {
    color: var(--interactive-muted);
}

.modeMuted-2T4MDZ:hover .icon-2W8DHg,
.wrapper-NhbLHG:hover .icon-2W8DHg {
    color: var(--interactive-hover);
}

.modeConnected-NrO4cP .icon-2W8DHg,
.modeConnected-NrO4cP:hover .icon-2W8DHg,
.modeSelected-3DmyhH .icon-2W8DHg,
.modeSelected-3DmyhH:hover .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg,
.modeUnread-3Cxepe:hover .icon-2W8DHg,
.notInteractive-2tFrlE.modeConnected-NrO4cP .icon-2W8DHg,
.notInteractive-2tFrlE.modeSelected-3DmyhH .icon-2W8DHg {
    color: var(--interactive-active);
}

.modeConnected-NrO4cP .subtitle-3PyFgf,
/* channel				subtitle							*/
.modeConnected-NrO4cP:hover .subtitle-3PyFgf,
.modeSelected-3DmyhH .subtitle-3PyFgf,
.modeSelected-3DmyhH:hover .subtitle-3PyFgf,
.modeUnread-3Cxepe .subtitle-3PyFgf,
.modeUnread-3Cxepe:hover .subtitle-3PyFgf,
.notInteractive-2tFrlE.modeConnected-NrO4cP .subtitle-3PyFgf,
.notInteractive-2tFrlE.modeSelected-3DmyhH .subtitle-3PyFgf {
    color: var(--interactive-normal);
}

.spine-29OFwR {
    /* channel				thread spine						*/
    color: var(--channels-default);
}


.wrapper-2fEmwW .users-2JoyGL {
    background-color: transparent;
}

.wrapper-2fEmwW .total-1c5KCN {
    background-color: rgba(var(--transparencycolor), .3);
}

.wrapper-2fEmwW .total-1c5KCN::after {
    border-right-color: rgba(var(--transparencycolor), .3);
}

.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42 {
    background-color: rgba(var(--transparencycolor), .2);
}




/* =============================CHAT=================================*/



.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    /* chat					threadsidebar open					*/
    border-radius: 0;
}

.container-3YcgdM {
    /* forum				first message container				*/
    border-color: var(--background-floating);
}

.divider-AZrXIA {
    /* forum				fat divider							*/
    background: var(--background-floating);
}

#app-mount .container-2qVG6q.isOpen-2OXbFs {
    /* forum				selected post						*/
    background-color: rgb(var(--accentcolor));
    text-shadow: 1px 1px var(--textshadow);
}

#app-mount .container-2qVG6q.isOpen-2OXbFs .defaultColor-24IHKz,
#app-mount .container-2qVG6q.isOpen-2OXbFs [style*="color: var(--header-secondary)"] {
    color: var(--header-primary) !important;
}

#app-mount .container-2qVG6q.isOpen-2OXbFs .author-22H8ZU a,
#app-mount .container-2qVG6q.isOpen-2OXbFs [style*="color: var(--text-muted)"] {
    color: var(--header-secondary) !important;
}

/*================ Custom discord upper top=============== */
.wordmarkWindows-2dq6rw::after {
    color: rgb(235, 94, 94);
}

.wordmarkWindows-2dq6rw svg {
    display: none;
}

/* ディスコード アルフレード */
.wordmarkWindows-2dq6rw::after {
    content: "Disukōdo arufureido";
    font-family: var(--font-japanese);
    width: 180px;
    height: 12px;
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    left: 8px;
    top: 6px;
}

.winButtonClose-3Q8ZH5 svg {
    display: none;
}

.winButtonClose-3Q8ZH5::after {
    content: url(https://i.ibb.co/S3tM6pC/icons8-katana-64.png);
    transform: scale(.25);
    width: 65px;
    height: 55px;
    position: absolute;
    object-fit: cover;
}

.winButtonMinMax-3RsPUg svg {
    display: none;
}

.winButtonMinMax-3RsPUg[aria-label="Maximize"]::after {
    content: url(https://i.ibb.co/FhbKfYN/window.png);
    transform: scale(.25);
    width: 65px;
    height: 55px;
    position: absolute;
    object-fit: cover;
}

.winButtonMinMax-3RsPUg[aria-label="Minimize"]::after {
    content: url(https://i.ibb.co/jg2XR9Z/58.png);
    transform: scale(.25);
    width: 65px;
    height: 55px;
    position: absolute;
    object-fit: cover;
}




/*===================== RADIAL STATUS=================== */
#app-mount .wrapper-1VLyxH {
    border-radius: var(--rs-avatar-shape);
}

#app-mount .wrapper-1VLyxH svg:not(:root) {
    overflow: visible;
}

#app-mount .wrapper-1VLyxH foreignObject {
    -webkit-mask: none;
    mask: none;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle {
    cy: -8 !important;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(1) {
    cx: -8.5 !important;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(2) {
    cx: -2.25 !important;
}

#app-mount .wrapper-1VLyxH .dots-1BwzZQ circle:nth-child(3) {
    cx: 4 !important;
}

#app-mount .wrapper-1VLyxH .mask-1FEkla>rect[x="22"] {
    x: 0;
    y: 0;
}

#app-mount .wrapper-1VLyxH .pointerEvents-9SZWKj[x="14.5"] {
    fill: rgba(0, 0, 0, 0.5) !important;
    width: 30px;
    height: 30px;
    x: 1;
    y: 1;
}

#app-mount .wrapper-1VLyxH img,
#app-mount .wrapper-1VLyxH.avatar-AvHqJA {
    border-radius: var(--rs-avatar-shape);
}

#app-mount .wrapper-1VLyxH svg[width="25"][height="15"]>rect {
    rx: calc(var(--rs-avatar-shape) * 2) !important;
    ry: calc(var(--rs-avatar-shape) * 2) !important;
}

#app-mount .wrapper-1VLyxH[style*="80px"] svg.cursorDefault--wfhy5 rect,
#app-mount .wrapper-1VLyxH[style*="120px"] svg.cursorDefault--wfhy5 rect {
    ry: calc(var(--rs-avatar-shape) * 3.3);
    rx: calc(var(--rs-avatar-shape) * 3.3);
}

#app-mount .wrapper-1VLyxH rect {
    x: 0;
    y: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: none;
    mask: none;
    display: block;
    rx: var(--rs-avatar-shape);
    ry: var(--rs-avatar-shape);
    fill: transparent !important;
    stroke-width: var(--rs-small-width);
}

#app-mount .wrapper-1VLyxH rect[fill="#43b581"],
#app-mount .wrapper-1VLyxH rect[fill="#3ba55c"],
#app-mount .wrapper-1VLyxH rect[fill="rgba(67, 181, 129, 1)"],
#app-mount .wrapper-1VLyxH rect[mask*=online],
#app-mount .wrapper-1VLyxH rect[fill*="hsl(139"] {
    stroke: var(--rs-online-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#faa61a"],
#app-mount .wrapper-1VLyxH rect[fill="rgba(250, 166, 26, 1)"],
#app-mount .wrapper-1VLyxH rect[mask*=idle],
#app-mount .wrapper-1VLyxH rect[fill*="hsl(38"] {
    stroke: var(--rs-idle-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#f04747"],
#app-mount .wrapper-1VLyxH rect[fill="rgba(240, 71, 71, 1)"],
#app-mount .wrapper-1VLyxH rect[fill="#ed4245"],
#app-mount .wrapper-1VLyxH rect[mask*=dnd],
#app-mount .wrapper-1VLyxH rect[fill*="hsl(359"] {
    stroke: var(--rs-dnd-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#593695"],
#app-mount .wrapper-1VLyxH rect[mask*=streaming] {
    stroke: var(--rs-streaming-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#747f8d"],
#app-mount .wrapper-1VLyxH rect[mask*=offline],
#app-mount .wrapper-1VLyxH rect[fill=NaN] {
    stroke: var(--rs-offline-color);
}

#app-mount .wrapper-1VLyxH rect[fill="#747f8d"],
#app-mount .wrapper-1VLyxH rect[mask*=invisible],
#app-mount .wrapper-1VLyxH rect[fill="rgba(116, 127, 141, 1)"],
#app-mount .wrapper-1VLyxH rect[fill*="hsl(214"] {
    stroke: var(--rs-invisible-color);
}

#app-mount .wrapper-1VLyxH rect[x="16"] {
    width: 24px;
    height: 24px;
}

#app-mount .wrapper-1VLyxH rect[x="28"] {
    width: 40px;
    height: 40px;
    overflow: visible;
}

#app-mount .wrapper-1VLyxH[style*="32px"] rect {
    width: 32px;
    height: 32px;
    x: -14.5;
    y: -17;
    position: relative;
    z-index: 0;
}

#app-mount .wrapper-1VLyxH[style*="40px"]>svg>svg rect {
    width: 40px;
    height: 40px;
    x: -19;
    y: -20;
    ry: calc(var(--rs-avatar-shape) * 3.3);
    rx: calc(var(--rs-avatar-shape) * 3.3);
}

#app-mount .wrapper-1VLyxH[style*="40px"] foreignObject[mask*=mobile] img {
    width: calc(100% - 12px);
}

#app-mount .wrapper-1VLyxH[style*="80px"] svg.cursorDefault--wfhy5 rect {
    x: -48;
    y: -52;
}

#app-mount .wrapper-1VLyxH[style*="80px"] rect {
    width: 80px;
    height: 80px;
    stroke-width: var(--rs-medium-width);
}

#app-mount .wrapper-1VLyxH[style*="80px"] img {
    -webkit-clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
    clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-1VLyxH[style*="120px"] svg.cursorDefault--wfhy5 rect {
    x: -70;
    y: -76;
}

#app-mount .wrapper-1VLyxH[style*="120px"] rect {
    width: 120px;
    height: 120px;
    stroke-width: var(--rs-large-width);
}

#app-mount .wrapper-1VLyxH[style*="120px"] img {
    -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
    clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-1VLyxH:not([style*="80px;"]):not([style*="120px;"]):not([style*="16px"])>svg>foreignObject:not(:only-child) img {
    -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
    clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-1VLyxH[style="width: 16px; height: 16px;"] rect {
    display: none;
}

#app-mount .wrapper-1VLyxH[style="width: 16px; height: 16px;"] img {
    -webkit-clip-path: none;
    clip-path: none;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile] {
    width: calc(100% + 4px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="32"] img {
    width: calc(100% - 12px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="80"] img {
    width: calc(100% - 16px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="80"]:after {
    width: 14px;
    height: 18px;
    top: 75%;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="120"] img {
    width: calc(100% - 22px);
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile][width="120"]:after {
    width: 24px;
    height: 20px;
    top: 75%;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile]:after {
    content: "";
    display: var(--rs-phone-visible, block);
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
    mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
    position: absolute;
    width: 10px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: var(--rs-phone-color, var(--rs-online-color));
    z-index: 1;
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile]+rect {
    stroke: var(--rs-phone-color, var(--rs-online-color));
}

#app-mount .avatarStack-3vfSFa {
    position: relative;
}

#app-mount .avatarSpeaking-33RRJU {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: var(--rs-avatar-shape);
    box-shadow: inset 0 0 0 2px var(--rs-self-speaking-colour, #57d39b), inset 0 0 0 3px var(--background-secondary);
}

#app-mount .message-2CShn3 .wrapper-1VLyxH foreignObject[mask*=mobile] {
    width: calc(100% + 3px);
}

#app-mount .message-2CShn3 .wrapper-1VLyxH rect[mask*=typing] {
    width: calc(100% - 9px);
}

#app-mount .avatarHint-k7pYop foreignObject {
    -webkit-mask: none;
    mask: none;
}

#app-mount .avatarHintInner-2HUAWj {
    border-radius: var(--rs-avatar-shape) !important;
    padding-top: 0;
    width: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
    height: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

#app-mount .memberOffline-2lN7gt img {
    -webkit-clip-path: none !important;
    clip-path: none !important;
}

#app-mount .offline-22aM7E img {
    -webkit-clip-path: none !important;
    clip-path: none !important;
}

#app-mount .avatarWrapperNonUserBot-3fzpUZ .wrapper-1VLyxH img {
    -webkit-clip-path: none !important;
    clip-path: none !important;
}

#app-mount .userInfo-2WpsYG .wrapper-1VLyxH {
    margin-top: 1px;
    margin-left: 1px;
}

#app-mount .info-3pQQBb .line-18uChy:last-child:after {
    content: "Radial Status " var(--rs-version);
    display: block;
}


/* =====================For Text====================== */



.membersGroup-2eiWxl {
    color: var(--member-listing-role-color)
}



/* ====================Voice Preview================== */
.animatorRight-xAUgTY .scrollerBase-_bVAAt {
    background: #000000 !important;
}




/* ====================LARGE POPUP==================== */

.userPopoutUnthemed-85kD9s {
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
}

.overlayBackground-2Zjm9f {
    background-color: transparent;
    position: relative;
    margin: 28px 10px 10px;
    border-radius: 1px;
    max-height: calc(100vh - 128px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.userPopoutInnerNonPremium-1EOFgI {
    background: transparent;
}

.userPopoutInner-1v4xcM {
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
}